@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #f4f4f5;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

.available-programs {
  padding: 48px 0;
}
@media (max-width: 992px) {
  .available-programs {
    padding: 36px 0;
  }
}
.available-programs__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}
@media (max-width: 992px) {
  .available-programs__title {
    margin: 0 0 28px;
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .available-programs__title {
    margin: 0 0 24px;
    font-size: 24px;
  }
}
.available-programs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.available-programs__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
          flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1200px) {
  .available-programs__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .available-programs__list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.available-programs__list-item:hover {
  text-decoration: none;
}
.available-programs__list-item:nth-child(n+13) {
  display: none;
}
@media (max-width: 768px) {
  .available-programs__list-item:nth-child(n+13) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .available-programs__list-item:nth-child(n+7) {
    display: none;
  }
}
.available-programs__list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #004080;
  border-radius: 8px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  will-change: background-color;
}
.available-programs__list-item-link:hover {
  text-decoration: none;
  background-color: #004080;
}
.available-programs__list-item-link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  width: 30px;
  aspect-ratio: 1/1;
  background: url(../assets/arrow.svg) center/cover no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-timing-function: inherit;
          transition-timing-function: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  will-change: filter;
}
.available-programs__list-item-link:hover::after {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.available-programs__list-item-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 30px;
  padding: 0;
  margin: 0;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-timing-function: inherit;
          transition-timing-function: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  will-change: filter;
}
.available-programs__list-item-link-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.available-programs__list-item-link:hover .available-programs__list-item-link-icon {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.available-programs__list-item-link-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  color: #004080;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: inherit;
          transition-timing-function: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  will-change: color;
}
.available-programs__list-item-link:hover .available-programs__list-item-link-text {
  color: #ffffff;
}
.available-programs__list.active .available-programs__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.available-programs__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0 0;
}
.available-programs__more.hidden {
  display: none;
}
.available-programs__more-button {
  display: inline-block;
  padding: 16px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 8px;
  outline: none !important;
  background-color: #004080;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.14s;
          transition-duration: 0.14s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .available-programs__more-button {
    width: 100%;
    font-size: 16px;
  }
}
.available-programs__more-button:hover {
  background-color: #002f5e;
}
.available-programs__more-button:active {
  background-color: #002345;
}

.doc-samples {
  padding: 48px 0;
}
@media (max-width: 992px) {
  .doc-samples {
    padding: 36px 0;
  }
}
.doc-samples__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}
@media (max-width: 992px) {
  .doc-samples__title {
    margin: 0 0 28px;
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .doc-samples__title {
    margin: 0 0 24px;
    font-size: 24px;
  }
}
.doc-samples__gallery .swiper {
  padding-bottom: 20px;
}
.doc-samples__gallery .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  cursor: pointer;
}
.doc-samples__gallery .swiper-slide::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 16px;
  background: url(../assets/zoom.svg) center/30px no-repeat;
  background-color: rgba(0, 64, 128, 0.4);
  opacity: 0.5;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  pointer-events: none;
}
.doc-samples__gallery .swiper-slide:hover::before {
  opacity: 1;
}
.doc-samples__gallery .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
}
.doc-samples__gallery .swiper-button-prev, .doc-samples__gallery .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px !important;
  height: 32px !important;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  .doc-samples__gallery .swiper-button-prev, .doc-samples__gallery .swiper-button-next {
    display: none;
  }
}
.doc-samples__gallery .swiper-button-prev::after, .doc-samples__gallery .swiper-button-next::after {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  color: #004080;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.doc-samples__gallery .swiper-scrollbar {
  height: 6px;
  background-color: rgba(0, 64, 128, 0.1);
}
.doc-samples__gallery .swiper-scrollbar-drag {
  height: inherit;
  background-color: #004080;
}